<!DOCTYPE html>
<html lang="en">
<head>
    <title>Easy Redirects</title>
    <link rel="stylesheet" href="../assets/css/style.min.css">
</head>
<style>
    .dl{ 
        border: solid 2px;
        padding: 10px 20px;
        border-radius: 25px;
        font-size: 30px;
    }
    .dl:hover{
        text-decoration: none;
    }
</style>
<body>
<div class="container mt-5 pl-5 pr-5">
    <div class="row">
        <form method="POST" action="/" enctype="multipart/form-data">
            <div class="form-group">
                <label class="col-form-label col-form-label-lg" for="inputLarge">Fill in the Domain</label>
                <input class="form-control form-control-lg" type="text" placeholder="paste the domain..." name="domain">
            </div>
            <div class="form-group">
                <label class="col-form-label col-form-label-lg" for="inputLarge">Default Redirect Code</label>
                <input class="form-control form-control-lg" type="text" placeholder="default code..." name="code">
            </div>
            <div>
                <label>Select your excel file:</label>
                <input type="file" name="excel-file" />
            </div>
            <div class="mt-5">
                <input type="submit" name="btn-upload-file" value="Upload" />
            </div>
        </form>
    </div>
</div>

</body>
</html>